.button {
    -fx-font-weight: bold;
}


.bakgrun {
    -fx-background-color: #7da0ce;
    -fx-fill: #7da0ce;
}

.knapper{
    -fx-background-color:#7da0ce;
    -fx-font-size: 14px;
    -jfx-unselected-color: #7da0ce;


}

.knapper:hover {
    -fx-background-color: white;
}



.radioKnapper {
    -jfx-selected-color: #7da0ce;
}

.clientRamme{
    -fx-border-color: #7da0ce;
    -fx-border-width: 0.8em;

}


